<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
</head>
<header>
    <h1>About Us</h1>
    <nav> 
        <ul>
            <li><a href="{{ url_for('form') }}"> Home </a></li>
            <li> <a href="{{ url_for('about') }}"> About </a></li>
        </ul>
    </nav>
</header>
<body>
    <p> cool kids</p>
</body>
</html>